/* [type='file'] {
  display: none;
} */

.file {
  padding-right: 2.5rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

span::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../Assets/find.svg') no-repeat center center;
  margin-left: 0.5rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}